button.close {
    border-radius: 20px;
    background-color: white;
    padding-bottom: 4%;
    height: 30px;
    font-weight: bold;
    border: solid;
    border-color: white;
}

label.form-label {
    font-weight: bold;
}