
.navbar{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0d6efd;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}


.navbar-light .navbar-brand {
    color: white;
}